<template>
    <div>
        <div class="form-group row">
            <label for="office_id" class="col-sm-2 col-form-label">Dinas / OPD</label>
            <div class="col-sm-10">
                <select @change="onChange($event)" v-model="office_id" name="office_id" class="form-control" required="true">
                    <option value=""> - </option>
                    <option v-for="office in offices" v-bind:key="office.id" v-bind:value="office.id">
                        {{ office.name }}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="year" class="col-sm-2 col-form-label">Tahun</label>
            <div class="col-sm-2">
                <select v-model="year" name="year" class="form-control" required="true">
                    <option value="" disabled> - </option>
                    <option v-for="year in years" v-bind:key="year.name" v-bind:value="year.name" :disabled="!year.available">
                        {{ year.name }}
                    </option>
                </select>           
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Indikator Kinerja Utama</label>
            <div class="col-sm-10">
                <table class="table table-bordered">
                    <tr>
                        <th>Indikator</th>
                        <th>Target</th>
                        <th>Ralisasi</th>
                        <th>Satuan</th>
                    </tr>

                    <tr v-for="indicator in indicators" v-bind:key="indicator.id">
                        <input type="hidden" name="id_indicators[]" :value="indicator.id">

                        <td>{{ indicator.name }}</td>
                        <td><input type="text" class="form-control" name="amount_target[]"></td>
                        <td><input type="text" class="form-control" name="amount_realization[]"></td>
                        <td>{{ indicator.unit.name }}</td>
                    </tr>
                </table>
            </div>
        </div> 
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            offices: [],
            indicators: [],
            office_id: '',
            year: '',
            years: [],
        }
    },
    mounted() {
        var app = this;
        axios.get('/api/office')
            .then(function (resp) {
                app.offices = resp.data;
            })
            .catch(function (resp) {
                console.log(resp);
                alert('Could not load offices');
            });
    },
    methods: {
        onChange(event) {        
            var app = this;
            if (event.target.value !== '') {
                axios.get('/api/indicator/' +event.target.value)
                    .then(function (resp) {
                        app.indicators = resp.data;
                        app.year = '';
                        app.changeYears(event);
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert('Could not load indicators');
                    });
            }
            else {
                console.log('Data kosong');
                app.indicators = [];
            }

            
            
        },
        changeYears(event) {
            var app = this;
            axios.get('/api/years/' + event.target.value)
                .then(function (resp) {
                    app.years = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert('Could not load years');
                });            
        }
    }
}
</script>